.contact__title {
     padding: 10rem 2rem;
     font-family: $fs;
     font-size: $xxl;
     font-weight: 800;
     text-align: center;
     color: $color-gray50;
}
.contact__cont {
     width: 100%;
     padding: 0 0 10rem 0;
     display: flex;
     align-items: center;
     justify-content: center;

     @include resp(screenW1024) {
          flex-flow: column;
     }

     @include resp(screenW600) {
          padding: 0 0 5rem 0;
     }
}

.contact__card {
     width: calc(100% / 3);
     height: auto;
     padding: 1rem;
     margin: 1rem;
     background-color: $color-gray5;
     border-radius: 1rem;
     -webkit-box-shadow: 0px 20px 48px -4px rgba(0,0,0,0.09);
     -moz-box-shadow: 0px 20px 48px -4px rgba(0,0,0,0.09);
     box-shadow: 0px 20px 48px -4px rgba(0,0,0,0.09);

     @include resp(screenW1024) {
          width: 100%;
     }

     &--bioCont {
          display: flex;
          flex-flow: row;

          @include resp(screenW1440) {
               flex-flow: column;
               align-items: center;
               justify-content: center;
          }

          @include resp(screenW1024) {
               flex-flow: row;
          }

          @include resp(screenW600) {
               flex-flow: column;
          }
     }

     &--bioCont:not(:last-child) {
          padding-bottom: 2rem;
     }

     &--img {
          width: 40%;
          height: 40%;
          border-radius: 1rem;

          @include resp(screenW1440) {
               width: 25rem;
               padding-bottom: 1rem;
          }
     }

     &--dataCont {
          width: 100%;

          @include resp(screenW1400) {
               flex-flow: row;
          }
     }

     &--link {
          padding: 1rem 2rem;
          display: flex;
          flex-flow: row;

          &-icon,
          &-data {
               font-size: $md;
               color: $color-gray50;
          }
     }

     &--link * + * {
          padding: 0 2rem; 
     }

     &--name {
          font-family: $fs;
          font-size: $lg;
          font-weight: 700;
     }

     &--shortBio {
          font-size: $md;
          line-height: 1.5;
          text-align: justify;
     }

     
}